<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
    <ion-text color="dark">
      <h2>Agenda</h2>
    </ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="agenda"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="primary">
<ion-card color="light">
		<ion-card-content>
  	<ion-button expand="round" fill="solid" size="small" color="danger">
D/204/D2/10/20 
</ion-button>
  	<ion-text>
         <p>Pemberitahuan Data </p>
		</ion-text>
  </ion-card-content>
</ion-card>

<ion-card color="light">
		<ion-card-content>
  	<ion-button expand="round" fill="solid" size="small" color="warning">
C/20/03/05/20
</ion-button>
  	<ion-text>
         <p>Pemberitahuan Beasiswa</p>
    </ion-text>
  </ion-card-content>
</ion-card>
<ion-card color="primary">
  <ion-card-content>
    <ion-item color="primary">
<ion-label></ion-label>
</ion-item>
 <ion-fab horizontal="end" vertical="center" slot="fixed">
      <ion-fab-button color="">
        <ion-icon name="add" color="dark" routerLink="/agenda2"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-card-content>
</ion-card>
</ion-content>

