<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
    <ion-text color="dark">
      <h2>Arsip</h2>
    </ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color ="dark" defaultHref="arsip3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="primary">
<ion-card>
  <ion-card-content>
   <ion-item>
        <ion-label position="stacked">No.Surat</ion-label>
        <ion-input placeholder=""></ion-input>
      </ion-item>

       <ion-item>
        <ion-label position="stacked">Tanggal Surat</ion-label>
        <ion-input placeholder=""></ion-input>
      </ion-item>

       <ion-item>
        <ion-label position="stacked">Tanggal Terima</ion-label>
        <ion-input placeholder=""></ion-input>
      </ion-item>

       <ion-item>
        <ion-label position="stacked">Sumber Surat</ion-label>
        <ion-input placeholder=""></ion-input>
      </ion-item>

       <ion-item>
        <ion-label position="stacked">Perihal</ion-label>
        <ion-input placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Keterangan</ion-label>
        <ion-input placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">File Surat</ion-label>
        <ion-input placeholder=""></ion-input>
      </ion-item> <ion-button expand="default" fill="solid" size="small" color="primary">
Pilih File
</ion-button>
</ion-card-content>
</ion-card>
<ion-button expand="left" fill="solid" size="default" color="dark">
Simpan
</ion-button>

</ion-content>
