<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Disposisi</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" color="primary">
<ion-card color="light">
  <ion-card-content>
  <ion-button expand="round" fill="solid" size="small" color="warning">
Tenggat Dalam 3 hari
</ion-button>
  <ion-text>
       <p>Kepsek</p>
       <p>Ditindaklanjuti, Bicarakan dengan......</p>
  </ion-text>
</ion-card-content>
</ion-card>


<ion-card color="light">
  <ion-card-content>
  <ion-button expand="round" fill="solid" size="small" color="danger">
Tenggat Dalam 3 hari
</ion-button>
  <ion-text>
       <p>Kepsek</p>
       <p> Ditindaklanjuti</p>
  </ion-text>
</ion-card-content>
</ion-card>

<ion-card color="light">
  <ion-card-content>
  <ion-button expand="round" fill="solid" size="small" color="warning">
Tenggat Dalam 3 hari
</ion-button>
  <ion-text>
       <p>Kesiswaan</p>
       <p> Diketahui</p>
  </ion-text>
</ion-card-content>
</ion-card>

<ion-card color="primary">
  <ion-card-content>
    <ion-item color="primary">
<ion-label></ion-label>
</ion-item>
 <ion-fab horizontal="end" vertical="center" slot="fixed">
      <ion-fab-button color="">
        <ion-icon name="add" color="dark" routerLink="/disposisi2"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-card-content>
</ion-card>
</ion-content>
