#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-text-center{
  color: purple;
  font-size: 30px;
}
.underline
{
  font-size: 12px;
}
ion-app{
  background-color: #f7f7f7;
}
img{
  width: 130px;
}