<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
    <ion-text color="dark">
      <div class="ion-text-center">
      <h2>Login</h2>
      </div>
    </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card-header>
 
  <div style="text-align: center; padding: 30px 0 10px 0;">
    <img src="assets/surat.png" width="150px">
    <ion-text color="secondary">
      <h4 style="line-height: 14px;"></h4>        
    </ion-text>
  </div>

</ion-card-header>
<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input type="text" [(ngModel)]="email"></ion-input>
</ion-item>
<p></p>
<ion-item>
  <ion-label position="floating">Password</ion-label>
  <ion-input type="password" [(ngModel)]="password"></ion-input>
</ion-item>
<p>
  <ion-col>
    <ion-router-link routerLink="/register" class="underline">Registrasi</ion-router-link>
  </ion-col>
</p>
<p>
  <ion-col>
    <ion-router-link routerLink="/forgot" class="underline">lupa password?</ion-router-link>
  </ion-col>
</p>
<section>
  <ion-button expand="block" detail (click)="masuk()" [disabled]="loading">{{loading ? 'tunggu..':'masuk'}}

  </ion-button>
</section>
</ion-content>

