<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
    <ion-text color="dark">
      <h2>Arsip</h2>
    </ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color ="dark" defaultHref="arsip3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
<ion-card color="secondary">
  <ion-card-content>
<ion-item color="light">
 <ion-input placeholder="Masukan Nama Folder"></ion-input>
</ion-item>
</ion-card-content>
</ion-card>
<ion-button expand="block" fill="solid" size="Large" color="dark">
  Simpan
  </ion-button>
</ion-content>

