<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
    <ion-text color="dark">
      <h2>Arsip</h2>
    </ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color ="dark" defaultHref="arsip2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" color="primary">
  <ion-card color="secondary">
    <ion-card-content>
    <ion-icon color="dark" name="reader-outline" size="small"></ion-icon>
    <ion-label color="dark">Undangan Rapat</ion-label>
  </ion-card-content>
  </ion-card>

<ion-card color="secondary">
  <ion-card-content>
  <ion-icon color="dark" name="reader-outline" size="small"></ion-icon>
  <ion-label color="dark">Pengumpulan Data</ion-label>
</ion-card-content>
</ion-card>

<ion-card color="secondary">
  <ion-card-content>
  <ion-icon color="dark" name="reader-outline" size="small"></ion-icon>
  <ion-label color="dark">Surat Pemberitahuan</ion-label>
</ion-card-content>
</ion-card>

<ion-card color="primary">
  <ion-card-content>
    <ion-item color="primary">
<ion-label></ion-label>
</ion-item>
 <ion-fab horizontal="end" vertical="center" slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon name="add" color="dark" routerLink="/arsip5"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-card-content>
</ion-card>
</ion-content>
