<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
    <ion-text color="dark">
      <h2>Surat Masuk </h2>
    </ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="primary">
<ion-card color="light">
		<ion-card-content>
  	<ion-button expand="round" fill="solid" size="small" color="danger">
Desi 
</ion-button>
  	<ion-text>
         <p>Rapat Kepala Sekolah </p>
		</ion-text>
  </ion-card-content>
</ion-card>

<ion-card color="light">
		<ion-card-content>
  	<ion-button expand="round" fill="solid" size="small" color="warning">
Ghea
</ion-button>
  	<ion-text>
         <p>Pemberitahuan data</p>
    </ion-text>
  </ion-card-content>
</ion-card>
<p></p>
<div></div>
  <div style="text-align: right; padding: 50px 20px 10px 0;">
    <ion-icon  name="mail-unread-outline" size="large" color="dark"></ion-icon></div>
</ion-content>

