<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
    <ion-text color="dark">
      <h2>Agenda</h2>
    </ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card class="ioncard2" color="secondary" routerLink="/agenda1">
    <p></p>
    <div class="ion-text-center">
      <ion-icon name="mail" size="large" color="dark"></ion-icon></div>
      <p></p>
      <div class="ion-text-center">
      <ion-text color="dark">Surat Masuk  </ion-text>
    </div>
  </ion-card>

<ion-card class="ioncard" color="secondary"  routerLink="/agenda1">
  <p></p>
  <div class="ion-text-center">
    <ion-icon name="mail-open" size="large" color="dark"></ion-icon></div>
    <p></p>
    <div class="ion-text-center">
  	<ion-text color="dark" >Surat Keluar  </ion-text>
</div>
</ion-card>



</ion-content>