.ioncard{
    height: 110px;
    width: 150px;
    position: absolute;
    top: 100px;
    left: 70%;
    transform: translateX(-50%);
    }
    
    .ioncard2{
        height: 110px;
        width: 150px;
        position: absolute;
        top: 100px;
        left: 25%;
        transform: translateX(-50%);
        }