ion-content.background{
    --ion-background-color: rgb(255, 255, 255);
    text-align: center;
}


.ioncard{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 500px;
    left: 77%;
    text-align: right;
    transform: translateX(-50%);
    }