<ion-content padding class="background">
  <ion-content >

    <div style="text-align: center; padding: 30px 0 10px 0;">
      <img src="assets/surat.png" width="150px">
      <ion-text color="secondary">
        <h4 style="line-height: 14px;"></h4>        
      </ion-text>
    </div>

  <ion-list>
    <ion-card color="primary" routerLink="/surat-masuk">
      <ion-card-content>
      <ion-text>
           <p>Surat Masuk</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  
  <ion-card color="primary" routerLink="/surat-masuk">
    <ion-card-content>
    <ion-text>
         <p>Surat Keluar</p>
    </ion-text>
  </ion-card-content>
</ion-card>

<ion-card color="primary" routerLink="/disposisi1">
  <ion-card-content>
  <ion-text>
       <p>Disposisi</p>
  </ion-text>
</ion-card-content>
</ion-card>

<ion-card color="primary" routerLink="/arsip">
  <ion-card-content>
  <ion-text>
       <p>Arsip</p>
  </ion-text>
</ion-card-content>
</ion-card>

<ion-card color="primary" routerLink="/agenda">
  <ion-card-content>
  <ion-text>
       <p>Agenda</p>
  </ion-text>
</ion-card-content>
</ion-card>

  </ion-list>
  </ion-content>
  