<ion-header>
  <ion-toolbar color="light">
    <ion-title>
    <ion-text color="dark">
      <h2>Register</h2>
    </ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color ="dark" defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  color="light">
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Nama" [(ngModel)]="user.fullName"></ion-input>
            </ion-item>
            <p></p>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="user.email"></ion-input>
            </ion-item>
            <p></p>
            
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
            </ion-item>
            <p></p>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="ulangi Password" [(ngModel)]="user.passwordCek"></ion-input>
            </ion-item>
          </div>
          <p></p>
          <div padding>
            <ion-button expand="block" detail (click)="registrasi()" [disabled]="loading || user.password == undefined || user.password != user.passwordCek">{{loading ? 'tunggu..':'Register'}}</ion-button>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
